{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@types$",
    "^@config/(.*)$",
    "^@controllers/(.*)$",
    "^@database/(.*)$",
    "^@routes/(.*)$",
    "^@services/(.*)$",
    "^@scripts/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
